* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
  font: 16px arial, helvetica, sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
  color: inherit;
}

li {
  padding: 10px 30px;

  strong {
    font-weight: bold;
    font-size: 20px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
